<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app.css" />
        <title>Account page</title>
    </head>
    <body>
        <h1>Hello, <%= username %></h1>
        <img
            src="/image<%= Math.floor(Math.random() * 3) %>.jpg"
            alt="Profile Picture"
            class="image"
        />
        <a href="/">Homepage</a>
        <a href="/api/logout">Logout</a>
    </body>
</html>
